/* Dropdown Button */
*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*images when displaying multiple images */
.productListImg {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.singleProductImg {
  object-fit: cover;
  width: 400px;
  height: 400px;
}



/* Styling the NavBar and links for the admin portal */

#adminNavBar{
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

#adminNavBar>a{
  font-size: x-large;
}

.active{
  text-decoration: underline;
  color: brown;
  text-shadow: 1px 1px 1px black;
}


/*Arranging the list of users, a users's details, order history, and review history into a single panel of scrollable lists*/

.flexContainer{
  display: flex;
}

.flexContainer>.rightContainer{
display: flex;
flex-direction: column;
}

.flexContainer>div{
  margin: 0 .5rem
}

#usersPanel{
  height: 70vh
}

#usersPanel div>h2{
  text-align: center;
}

#usersList{
   max-width: fit-content;
   padding-right: .5rem;
}

#singleUser{
  flex:2;
  height: 70vh
}

#singleUser>div{
  flex:1
}

#editUserPanel>form{
  display: flex;
  flex-direction: column;
}

.scrollable{
  overflow: hidden;
  overflow-y: auto;
}

.card{
  display: block;
  background-color: aliceblue;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 .5rem;
  margin: 1rem .5rem;
}

.card:hover{
  background-color: lightgray;
  box-shadow: 2px 2px 2px black;
}
