/* Dropdown Button */
*{
  box-sizing: border-box;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color:black;
  color: #01bf71;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*images when displaying multiple images */
.productListImg {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.singleProductImg {
  object-fit: cover;
  width: 250px;
  height: 250px;
}



/* Styling the NavBar and links for the admin portal */

#adminNavBar{
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

#adminNavBar>a{
  font-size: x-large;
}

.active{
  text-decoration: underline;
  color: brown;
  text-shadow: 1px 1px 1px black;
}


/*Arranging the list of users, a users's details, order history, and review history into a single panel of scrollable lists*/
.userRow{
  width:fit-content;
  background-color: bisque;
}

.flexContainer{
  display: flex;
}

.flexContainer>.rightContainer{
display: flex;
flex-direction: column;
}

.flexContainer>div{
  margin: 0 .5rem
}

#usersPanel{
  height: 70vh
}

#usersPanel div>h2{
  text-align: center;
}

#usersList{
  overflow: hidden;
   overflow-y: auto;
   max-width: fit-content;
   padding-right: .5rem;
}

#singleUser{
  flex:2
}

#singleUser>div{
  overflow: hidden;
  overflow-y: auto;
  flex:1
}

#editUserPanel>form{
  display: flex;
  flex-direction: column;
}

.reviewDetails{
  width:fit-content;
  background-color: bisque;
}


/* Styling Products View */
#ProductsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#ProductsContainer>h2{
  width: 100%
}

#Products{
  display: flex;
  flex-wrap: wrap;
}

#singleProduct{
  width: 20%
}

/* Styling Single Products View */

#individualProducts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#individualProducts>h2{
  width: 100%;
  text-align: center;
}

#individualProducts>.picture{
  margin-left: 20%;
  width: 30%;
}

#individualProducts>.details{
  margin-right: 20%;
  width: 30%
}