* {
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.search-form {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  border: none;
  padding: 5px;
}

.search-button {
  background: #1bd88a;
  border: none;
  padding: 5px 20px;
  color: black;
}

.search-button:hover {
  background: rgb(134, 238, 193);
  transition: all 0.2s ease-in-out;
  color: #010606;
}

@media screen and (max-width: 960px) {
  .search-form {
    display: none;
  }
}
